<HTML>
        <HEAD>
                        <TITLE>Buscador Musical</TITLE>
        </HEAD>
        <BODY background = "http://3.bp.blogspot.com/-muS1k-FbEZc/ULYMUmwBwkI/AAAAAAAAZuU/cT0kBwKu0a8/s1600/Dibujos+notas+musicales+para+imprimir+-+Www.10Pixeles.Com+(6).jpg">
                <H1 style="COLOR: #FFFFFF; BACKGROUND-COLOR: #008DB8;border: 8px outset #008DB8">
                        <font face="sans" size = 120 >
                                <CENTER>Buscador Musical</CENTER>
                        </font>
                </H1>
                <H1 style="COLOR: #000000; BACKGROUND-COLOR: #A4A4A4;border: 8px outset #A4A4A4">
                        <font face="sans" size =4 >
                                <CENTER >Esta p&#225gina le permitir&#225 buscar bandas o grupos musicales de la p&#225gina de
                                        <a title="bandcamp" href="http://www.bandcamp.com//">bandcamp
                                        </a>
                                        
                                </CENTER>
                        </font>
                </H1>
                <P >
                        <font face="sans" size =4 style="COLOR: #0B3861; BACKGROUND-COLOR: #FFFFFF;border: 4px outset#CEE3F6" >
                                <CENTER >Ingrese la banda o grupo musical
                                </CENTER>
                        </font>
                </P>
<CENTER >
                <P>
                <div id="contenido">
                <form align="center" action="/bandcamp" method="post">
                        <input style="COLOR: #0B3861; BACKGROUND-COLOR: #FFFFFF;width:465px; height:30px; font-size: 12pt" type="text" name="campo1" value="Busqueda">
                        <br>
</CENTER>
                       
                        <P size="20"></CENTER>
<CENTER >
                        <b><input style="color:#0099FF;width:100px; height:30px;size:30;font-weight:bold;font-size: 12pt" type="submit" value="Buscar" size="20"></b>
                        </P>
                </from>
                </div>
                </P>
                <div valign="button">
</CENTER>
                       
                </div>
        </BODY>
</HTML>
